<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" content="initial-scale=1">
  <base href="{{ site.base_url }}/">
  <link rel="icon" href="data/img/tibl.png" />
  <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="assets/css/user.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <title>{% if page.title %}{{ page.title }}{% endif %}</title>

  <!-- things for highlighting-->
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/yaml.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('pre code').forEach(function(block) {
        var parent = block.parentElement.parentElement.parentElement;
        parent.classList.forEach(function(c) {
          block.classList.add(c);
        });
      });
      hljs.initHighlightingOnLoad();
    });
  </script>
</head>

<body>
    <nav>
      <p>
        <a href="./">{{site.name}}</a>
        {%for p in site.heads%}
        /<a href="./pages/{{p}}">{{p}}</a>
        {%endfor%}
      </p>
    </nav>
  <div id="content"> {{content}}</div>
  <footer>Powered by <a href="https://abhin4v.github.io/precis/">Precis</a></footer>
</body>
</html>